.plus,
.refresh
    margin-right : 5px

.Link
    text-decoration: none

.image
    width: 150px
    height: auto

.paragraphResponsive
    display: -webkit-box
    -webkit-line-clamp: 6
    -webkit-box-orient: vertical
    overflow: hidden
    &:hover
        display: block