*
  margin: 0
  padding: 0
  box-sizing: border-box

.app
  position: relative
  background-color: yellow

.header
  position: fixed
  z-index: 5

.conatiner
  position: fixed
  width: 86%
  right: 0
  top: 8%
